#btn-back-to-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
    border-radius: 50%;
}

@media (max-width: 375px){

}
.card{
    max-width: 40%;
    max-height: 45%;
}

.text-scrollable{
    max-height: 250px;
}