{% block footer %}
    <footer class="d-flex border-top justify-content-between py-3 my-4" style="position:relative;bottom: 0; right: 0; left:0;">
        <p class="text-center text-muted ms-4">&copy 2022 - BECKER, DESTREMONT, FRITSCH</p>
        <form class="d-flex me-4" action="/language" method="post">
            <select name="languageSelect" class="form-select me-4">
                <option value="en">EN</option>
                <option value="fr">FR</option>
            </select>
            <button type="submit" name="languageButton" class="btn btn-primary">OK</button>
        </form>
    </footer>
{% endblock %}