{% block footer %}
    {#changer et faire un protoype #}
    <footer class="d-flex border-top justify-content-center py-3 my-4">
        <p class="text-center text-muted">&copy 2022 - BECKER, DESTREMONT, FRITSCH</p>
    </footer>
{% endblock %}