<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% include "layoutStyle.html.twig" %}
    <title>Title</title>
</head>
<body>
{% include "header.html.twig" %}
<div>PAYEMENT ACCEPTE</div>
{% include "footer.html.twig" %}
</body>
</html>