<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% include "layoutStyle.html.twig" %}
    <title>Title</title>
</head>
<body>
{% include "header.html.twig" %}
<div class="text-center mx-auto mt-3" style="width: 50vw">
    <img style="width: 200px" src="https://i0.wp.com/objectifalpinisme.com/wp-content/uploads/2021/02/pngegg.png?w=750&ssl=1">
    <h1 class="h1" style="color: #009926">{{ lang.SUCCESSPAYMENT.VALID }}</h1>
    <h4 class="pt-3 h4">{{ lang.SUCCESSPAYMENT.THANKS }}</h4>
    <a class="btn btn-primary mt-2" href="/">{{ lang.SUCCESSPAYMENT.HOME }}</a>
</div>
{% include "footer.html.twig" %}
</body>
</html>